<section>
    <div class="columns">

    {% assign products=site.products | where:"lang", page.lang %}
    {% for product in products %}
        {% assign product_page = site.pages | where:"ref", product.ref | where: "lang", page.lang | where: "layout", "product" | first %}
        {% assign buy_page = site.pages | where:"ref", product.ref | where: "lang", page.lang | where: "layout", "buy" | first %}
        {% assign price_tax = site.data.products[product.ref].price_tax_excluded | times: 1.20 | round: 2 %}
        {% assign product_image = site.static_files | where_exp: "image", "image.path contains product.ref" | first %}

        <div class="column col-4 col-sm-12">
            <article class="card">
                <div class="card-header">
                    <div class="card-title h5">{{ product.title }}</div> 
                    <div class="card-subtitle text-gray">{{ product.category }}</div>
                </div> 
                <div class="card-image">
                    <a href="{{ product_page.url }}">
                        <img class="img-responsive" src="{{ product_image.path }}" >
                    </a>
                </div> 
                <div class="card-body">
                    <p class="description">{{ product.excerpt }}</p> 
                    <h3 class="price">{{ price_tax }} €</h3>
                </div> 
                <div class="card-footer">
                    <div class="btn-group columns">
                        <a class="btn column col-sm-12" href="{{ product_page.url }}">{{ site.data.translation['details'][page.lang]}}</a>
                        <a class="btn btn-primary column col-sm-12" href="{{ buy_page.url }}">{{ site.data.translation['buy'][page.lang]}}</a>
                    </div>
                </div>
            </article> 
        </div>
    {% endfor %}
    </div>
</section> 