#gallery {
  & > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 1em;
    margin: 0;
  }
  li {
    padding: 0;
    list-style-type: none;
    &::before {
      content: "";
    }
  }
  img {
    width: 100%;
    display: block;
    padding: 4px;
    margin: 0.75rem 0;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
}
  