---
layout: page
title: Contact
permalink: /fr/contact
lang: "fr"
ref: "contact"
---

Vous pouvez me contacter :
<ul>
    <li>via mastodon <a href="https://piaille.fr/@avernois">@avernois@piaille.fr</a></li>
    <li>par e-mail <a mailto:hello@crafting-labs.com>hello@crafting-labs.com</a></li>
    <li>ou en utilisant le formulaire de contact ci-dessous :</li>
</ul>

<form class="form-horizontal" action="https://formspree.io/f/xleaejqk" method="POST">
    <div class="form-group">
        <div class="col-2 col-sm-12">
            <label class="form-label" for="message">message</label>
        </div>
        <div class="col-9 col-sm-12">
            <textarea class="form-input" id="message" placeholder="Votre message ici" rows="3" name="message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-2 col-sm-12">
            <label class="form-label" for="name">nom</label>
        </div>
        <div class="col-9 col-sm-12">
            <input class="form-input" id="name" type="text" placeholder="Nom"  name="name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-2 col-sm-12">
            <label class="form-label" for="email">e-mail</label>
        </div>
        <div class="col-9 col-sm-12">
            <input class="form-input" id="email" type="email" placeholder="Votre e-mail pour vous répondre" name="_replyto">
        </div>
    </div>
    <input type="hidden" name="_subject" value="Contact Form Submission">
    <input type="hidden" name="_language" value="{{ page.lang }}">

    <button type="submit" class="btn btn-success">Send</button>
</form>