---
layout: page
title: Contact
permalink: /en/contact
lang: "en"
ref: "contact"
---

You can send me a message:
<ul>
    <li>via mastodon <a href="https://piaille.fr/@avernois">@avernois@piaille.fr</a></li>
    <li>via e-mail <a mailto:hello@crafting-labs.com>hello@crafting-labs.com</a></li>
    <li>or with the form below:</li>
</ul>

<form class="form-horizontal" action="https://formspree.io/f/xleaejqk" method="POST">
    <div class="form-group">
        <div class="col-2 col-sm-12">
            <label class="form-label" for="message">message</label>
        </div>
        <div class="col-9 col-sm-12">
            <textarea class="form-input" id="message" placeholder="Your message here" rows="3" name="message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-2 col-sm-12">
            <label class="form-label" for="name">name</label>
        </div>
        <div class="col-9 col-sm-12">
            <input class="form-input" id="name" type="text" placeholder="Your name"  name="name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-2 col-sm-12">
            <label class="form-label" for="email">e-mail</label>
        </div>
        <div class="col-9 col-sm-12">
            <input class="form-input" id="email" type="email" placeholder="your e-mail" name="_replyto">
        </div>
    </div>
    <input type="hidden" name="_subject" value="Contact Form Submission">
    <input type="hidden" name="_language" value="{{ page.lang }}">
    
    <button type="submit" class="btn btn-success">envoyer</button>
  </form>