---
layout: default
---
{% assign price_tax_excluded = site.data.products[page.ref].price_tax_excluded %}
{% assign shipping = site.data.products[page.ref].shipping %}

{% assign total_ht = price_tax_excluded %}
{% assign total = total_ht | times: site.tva | round: 2 %}
{% assign tva = total | minus: total_ht | round: 2 %}

{% assign product_page = site.pages | where:"ref", page.ref | where: "lang", page.lang | where: "layout", "product" | first %}
{% assign cancel_page = site.pages | where:"ref", "cancel" | where: "lang", page.lang | first %}
{% assign success_page = site.pages | where:"ref", "success" | where: "lang", page.lang | first %}

{% assign contact_page = site.pages | where: "ref", "contact" | where: "lang", page.lang | first %}

<section class="basket"> 
    <h2>Récapitulatif des achats</h2> 
        <div class="columns col-gapless">
            <div class="column col-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th> 
                            <th class="text-right">{{ site.data.translation['price_tax_excluded'][page.lang] }}</th> 
                            <th class="text-right">{{ site.data.translation['qty'][page.lang] }}</th> 
                            <th class="text-right">{{ site.data.translation['total_tax_excluded'][page.lang] }}</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr class="active">
                            <td>
                                <a href="{{ product_page.url }}">{{ page.title }} - {{ page.category }}</a>
                            </td> 
                            <td class="text-right">{{ price_tax_excluded }} €</td> 
                            <td class="text-right">1</td> 
                            <td class="text-right">{{ price_tax_excluded }} €</td> 
                        </tr>
                    </tbody>
                </table> 
            </div>
            <article class="card column col-auto">
                <div class="card-header">
                    <div class="card-title h5">Ticket</div>
                </div> 
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="text-bold">{{ site.data.translation['total_tax_excluded'][page.lang] }}</td> 
                                <td class="text-right text-bold">{{ total_ht | round: 2 }} €</td>
                            </tr>
                            <tr>
                                <td>{{ site.data.translation['vat'][page.lang] }}</td> 
                                <td class="text-right">{{ tva | round: 2 }} €</td>
                            </tr>
                            <tr class="active">
                                <td class="text-bold">{{ site.data.translation['total'][page.lang] }}</td> 
                                <td class="text-right text-bold">{{ total | round: 2 }} €</td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                <div class="card-footer">
                    <button id="checkout-button" class="col-12 btn btn-primary">{{ site.data.translation['order'][page.lang] }}</button>
                </div>
            </article>
        </div>
        {% if page.lang == "fr" %}
        <article class="card">
            <div class="card-header">
                <div class="card-title h5">Livraison</div>
            </div> 
            <div class="card-body">
                Actuellement, la livraison est limitée aux pays de la zone économique européenne ainsi que le Royaume Uni et la Suisse.<br>
                Les frais liés à l'expédition dans ces pays sont inclus dans le prix.<br>
                Si vous souhaitez être livré dans un autre pays, n'hésitez pas à <a href="{{ contact_page.url }}">me contacter</a>.
            
            </div> 
        </article>
        <article class="card">
            <div class="card-header">
                <div class="card-title h5">Moyens de paiement</div>
            </div> 
            <div class="card-body">
                Le paiement par carte est le moyen à privilégié et le seul disponible via ce site.
                Si vous souhaitez payer par un autre moyen (virement bancaire), <a href="{{ contact_page.url }}">contactez moi</a>.<br>

                Toutes les transactions se font en euros.
            </div> 
        </article>
        <article class="card">
            <div class="card-header">
                <div class="card-title h5">Limitations</div>
            </div> 
            <div class="card-body">
                Actuellement, la boutique ne permet pas de commander plusieurs produits en même temps. Si vous souhaitez commander plusieurs articles, vous pouvez faire plusieurs commandes.
            </div> 
        </article>
        <article class="card">
            <div class="card-header">
                <div class="card-title h5">TVA et autres taxes</div>
            </div> 
            <div class="card-body">
                Le prix total indiqué tient compte de la TVA française à 20%.<br>

                Si vous êtes un particulier hors de la zone économique européenne, ou une entreprise hors de France, vous pouvez être exemptés de TVA. Dans ce cas, il est nécessaire de <a href="{{ contact_page.url }}">me contacter</a> avant toute commande. Après vérifications, je vous enverrai un lien spécial pour commander hors taxe.<br>

                En cas de livraison dans un pays en dehors de la zone économique européenne, des frais de douanes supplémentaires peuvent vous être demandé à l'arrivée dans le pays.<br>
            </div> 
        </article>
        
        {% else %}
        <article class="card">
            <div class="card-header">
                <div class="card-title h5">Shipping</div>
            </div> 
            <div class="card-body">
                Currently, shipping is limited to countries in the european economic union as well as United Kingdom and Switzerland.<br>
                Shipping costs for these countries are included in the price.<br>
                If you would like to be delivered to another country, please do not hesitate to <a href="{{ contact_page.url }}">contact me</a>.
            </div> 
        </article>
        <article class="card">
            <div class="card-header">
                <div class="card-title h5">Payment method</div>
            </div> 
            <div class="card-body">
                Payment by card is the prefered method and the only one available through this site.
                If you like to payment by another method (like bank transfer), <a href="{{ contact_page.url }}">contact me</a>.

                All transactions are made in euros.
            </div> 
        </article>
        <article class="card">
            <div class="card-header">
                <div class="card-title h5">Limits</div>
            </div> 
            <div class="card-body">
                Currently, the store does not allow you to order several products at the same time. If you want to order multiple items, you can place multiple orders.<br>
                If you would like that behaviour to change, <a href="{{ contact_page.url }}">contact me</a>.
            </div> 
        </article>
        <article class="card">
            <div class="card-header">
                <div class="card-title h5">VAT and other taxes</div>
            </div> 
            <div class="card-body">
                The total price included the french VAT taxes (20%)</br>
                If you are an individual outside the european economic zone, or a business outside France, you may be exempt from VAT. 
                In this case, it is necessary to <a href="{{ contact_page.url }}">contact me</a> before any order. After verifications, I will send you a special link to order tax free.<br>

                Please note the in the event of delivery to a country outside the european economic zone, additional customs fees may be requested upon arrival in the country.<br> 
            </div> 
        </article>
        {% endif %}



    
    <a href="{{ product_page.url }}" class="back-shop">‹ revenir à la fiche produit</a>
</section>

<script>

    function notifyError(button) {
        button.classList.remove('loading')
        button.classList.add('btn-error')
        button.innerHTML = '<i class="icon icon-cross"></i>'
    }

    function notifySuccess(button) {
        button.classList.remove('loading')
        button.classList.add('btn-success')
        const text = button.textContent
        button.innerHTML = '<i class="icon icon-check"></i>'
    }

    function notifyLoading(button) {
        button.disabled = true
        button.classList.add('loading')
    }

    const stripe_public_token = '{{ site.stripe_public_key }}'

    const stripe = Stripe(stripe_public_token)

    const button = document.querySelector('#checkout-button')
    button.onclick = e => {
        notifyLoading(button)
        let amount = '{{ total }}'
        amount = amount.replace(/\$/g, '').replace(/\,/g, '')
        amount = parseFloat(amount)

        const data = new URLSearchParams();

        data.append('success_url', "{{  success_page.url | absolute_url }}")
        data.append('cancel_url', '{{ cancel_page.url | absolute_url }}')

        const fetch_params = {
            method: 'POST',
            body: data
        };

        console.log("montant : " + amount);
        fetch(`{{ site.pay_server }}/checkout/{{ page.ref }}?amount=${amount}`, fetch_params)
            .then(function(response) {
                console.log(response)
                if(response.ok) {
                    notifySuccess(button)
                    console.log("Response wan ok !!")
                    response.text().then(function(checkout_id) {
                        console.log(checkout_id)
                        stripe.redirectToCheckout({
                            sessionId: checkout_id
                        }).then(function (result) {
                            console.log(result.error.message)
                            // If `redirectToCheckout` fails due to a browser or network
                            // error, display the localized error message to your customer
                            // using `result.error.message`.
                        })
                    })
                } else {
                    notifyError(button)
                    switch (response.status) {
                        case 404:
                            console.log("Bizarre, le produit n'existe pas. Contactez-nous ?")
                            break;
                        case 400:
                            response.text().then(function(text) {
                                if(text == "Amount is below the minimum amount") {
                                    console.log("Le montant est inférieur au minimum pour ce produit. Contactez-nous ?")
                                } else { //* 400 + "Something went wrong while processing payment."
                                console.log("Bizarre, une erreur s'est produite sur le serveur de paiement. Contactez-nous ?")
                                }
                            })
                            break;
                        case 410:
                        console.log("Oh non ! Le produit n'est plus disponible actuellement. Contactez-nous ?")
                            break;
                        case 500:
                        console.log("Bizarre, une erreur inconnue s'est produite. Veuillez réessayer plus tard ?")
                            break;
                    }                
                }
            })
            .catch(function(error) {
                console.log("la connexion au serveur de paiement a échoué. Veuillez réessayer plus tard ?")
            })
        
    }
</script>
