<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/global.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    {% for script in page.scripts  %}
    <script src="{{ script }}"></script>
    {% endfor %}


    <style>
        /* from layout*/
        section {
            position: relative;
            max-width: 56em;
            background-color: white;
            padding: 2em;
            margin: 0 auto;
            box-sizing: border-box;
        }

        @media (min-width: 1400px) {
            section {
                max-width: 90em;
            }
        }
      
        @media (max-width: 768px) {
            section {
                padding: 2em 1em;
            }
        }
    
        .language {
            flex-wrap: nowrap;
            justify-content: flex-end;
            line-height: 4em;
        }
  
        @media (max-width: 600px) {
            .language {
                padding-left: 10px !important;
            }
        }

        /* from Nav */
        header {
            align-items: center;
            border-bottom: 1px solid rgba(255, 62, 0, 0.1);
            font-weight: 300;
            padding: 0 1em;
        }
  
        .header .title {
            margin-bottom: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #5755d9;
        }
    
        .header ul {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    
        .header ul li {
            margin-top: 0;
        }
    
        .header a {
            text-decoration: none;
            padding: 1em 0.5em;
            display: block;
        }
        
        @media (max-width: 840px) {
          .header .title {
                text-align: center;
            }
    
            .header ul {
                justify-content: flex-start;
            }
        }
    
        @media (max-width: 600px) {
    
          .header ul {
                justify-content: center;
            }
        }
  

        /*from productList*/

        .card {
            height: calc(100% - 1rem);
            margin-bottom: 1rem;
            box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
        }

        .card-body {
            flex-direction: column;
            justify-content: space-between;
        }

        .price {
            padding-top: 0.8rem;
            text-align: right;
            font-weight: 700;
        }

        /*from Categories*/
        .hero-body {
            padding: 0.8rem;
            margin-bottom: 0.8rem;
            box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
        }

        .hero-body hr {
            color: #ddd;
        }

        .hero-body .btn-list {
            margin: -10px
        }

        .hero-body .btn {
            margin: 10px;
            box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
        }

        footer {
            border-top: 1px solid rgba(255, 62, 0, 0.1);
            padding: 0.2rem 0.75rem 1rem;
            position: relative;
            z-index: 200;
        }

        footer ul {
            margin: 0;
            padding: 0;
        }

        /* clearfix */
        footer ul::after {
            content: "";
            display: block;
            clear: both;
        }

        footer li {
            display: block;
            float: left;
        }

        footer a {
            text-decoration: none;
            padding: 1em 0.5em;
            display: block;
        }
    </style>  
</head>
<body>
    {% assign fr_page = site.pages | where: "ref", page.ref | where: "lang", "fr" | where: "layout", page.layout | first %}
    {% assign en_page = site.pages | where: "ref", page.ref | where: "lang", "en" | where: "layout", page.layout | first %}
    {% assign index_page = site.pages | where: "ref", "index" | where: "lang", page.lang | first %}
    {% assign contact_page = site.pages | where: "ref", "contact" | where: "lang", page.lang | first %}
    {% assign about_page = site.pages | where: "ref", "about" | where: "lang", page.lang | first %}
    {% assign legal_page = site.pages | where: "ref", "legal" | where: "lang", page.lang | first %}
    {% assign privacy_page = site.pages | where: "ref", "privacy" | where: "lang", page.lang | first %}
    <main>
        <div class="container">
            <header class="columns header col-10 col-mx-auto">
                <h1 class="title column col-6 col-md-12">{{ site.title }}</h1> 
                <nav class="column col-4 col-md-3 col-sm-12">
                    <ul>
                        <li><a href="{{ index_page.url }}">{{ index_page.title | downcase }}</a></li> 
                        <li><a href="{{ contact_page.url }}">{{ contact_page.title | downcase }}</a></li> 
                    </ul>
                </nav>
                <div class="btn-group col-2 col-md-3 col-sm-12 col-ml-auto">
                        <a href="{{ fr_page.url }}" class="btn btn-sm {% if page.lang == "fr" %}bg-secondary{% endif %}">français</a>
                        <a href="{{ en_page.url }}" class="btn btn-sm {% if page.lang == "en" %}bg-secondary{% endif %}">english</a>
                </div>
            </header>
            
            {{ content }}

            <footer class="footer columns">
                <ul class="column col-auto col-mx-auto">
                    <li><a href="{{ privacy_page.url }}" >{{ privacy_page.title | downcase }}</a></li> 
                    <li><a href="{{ legal_page.url }}" >{{ legal_page.title | downcase }}</a></li>
                </ul>
            </footer>
        </div>
    </main> 
</body>
</html>
