---
layout: default
---
<section> 
    <div class="card">
        
        <div class="card-header">
            <div class="card-title h1">{{ page.title | capitalize }}</div>
        </div> 
        <div class="card-body">
            {{ content }}
        </div> 
    </div>
</section>