---
layout: default
---
{% assign price_tax = site.data.products[page.ref].price_tax_excluded | times: 1.20 | round: 2 %}
{% assign buy_page = site.pages | where:"ref", page.ref | where: "lang", page.lang | where: "layout", "buy" | first %}
<section> 
    <div class="card">
        {% assign images = site.static_files | where_exp: "image", "image.path contains page.ref" %}
        <div class="card-image col-10 col-mx-auto">
            <div id="gallery">
                <img src="{{ images[0].path | relative_url }}" alt="image {{ page.nom }}" id="big-image">
                <ul>                    
                    {% for image in images %}                        
                            <li><a href="" class="gallery-item"><img src="{{ image.path | relative_url }}" width="60px"></a></li>
                    {% endfor %}
                </ul>
            </div>
        
            <script>
                const bigImage = document.querySelector("#big-image")
                Array.from(document.querySelectorAll(".gallery-item")).map(
                    item => {
                        item.addEventListener("click", event => {
                            event.preventDefault()
                            const newImage = item.querySelector("img").src
                            bigImage.src = newImage
                        })
                    })
            </script>
        </div>

        
        <div class="card-body">
            <div class="float-right col-auto col-sm-12">
                <h3 class="card-title h1 price">{{ price_tax }} €</h3>
                <a href="{{ buy_page.url }}" class="btn btn-primary col-12">{{ site.data.translation['buy'][page.lang]}}</a>
            </div>
            <div class="card-title h1">{{ page.title }}</div>
            {{ content }}
        </div> 
        <div class="card-footer">
            <div class="float-right col-auto col-sm-12">
                <h3 class="card-title h1 price">{{ price_tax }} €</h3>
                <a href="{{ buy_page.url }}" class="btn btn-primary col-12">{{ site.data.translation['buy'][page.lang]}}</a>
            </div>
        </div>
    </div>
</section>